defaults:
  - _self_
hydra:
  run:
    dir: ${logdir}
_target_: train.pretrain.train_diffusion_agent.TrainDiffusionAgent

name: ${env_name}_${data_type}_pre_diffusion_unet_tp${horizon_steps}_td${denoising_steps}
logdir: logs/pretrain/${name}/pt_rigtreedata

# General Params
seed: 42
device: cuda:0 # WATCH
env_name: gp_ipp
data_type: delta # Action collected: abs (absolute pos), delta (delta pos), theta (angle)

wandb:
  entity: # ${oc.env:DPPO_WANDB_ENTITY}
  project: ${env_name}-pretrain
  run: ${now:%H-%M-%S}_${name}

# Params for Driver
train_dataset_path: logs/dataset/gp_ipp_delta_dataset_rigtree/1000_0.25sensor_0.1int/gp_ipp_delta_dataset_rigtree.npz

train:
  n_epochs: 1000
  batch_size: 512 # 256 # WATCH
  learning_rate: 1e-4
  weight_decay: 1e-6
  lr_scheduler:
    first_cycle_steps: 1000
    warmup_steps: 100
    min_lr: 1e-5
  save_model_freq: 50

train_dataset:
  _target_: classes.dataset.sequence.StitchedSequenceGraphDataset
  dataset_path: ${train_dataset_path}
  horizon_steps: ${horizon_steps}
  # max_n_episodes: 2000
  cond_steps: ${cond_steps}
  device: ${device}

# Params for Diffusion Model
node_dim: 5 # Node inputs Dimension
pos_dim: 32 # Pos Encoding Dimension
agent_dim: 4 # Agent inputs dimension
embedding_dim: 64 # Embedding Dimension for Graph Attention Encoder # WATCH
action_dim: 2 # Action Dimension 2 for abs, delta, 1 for theta
cond_steps: 2 # WATCH
horizon_steps: 8
denoising_steps: 20 # WATCH

model:
  _target_: model.diffusion.diffusion.DiffusionModel
  predict_epsilon: True
  denoised_clip_value: 1.0
  network:
    _target_: model.diffusion.unet.GraphUnet1D
    backbone:
      _target_: model.common.AttentionNet.GraphAttentionEncoder5 # WATCH
      node_dim: ${node_dim}
      pos_dim: ${pos_dim}
      agent_dim: ${agent_dim}
      embedding_dim: ${embedding_dim}
    diffusion_step_embed_dim: 32 # WATCH
    dim: 64 # WATCH
    dim_mults: [1, 2] # WATCH
    kernel_size: 5
    n_groups: 8
    smaller_encoder: False
    cond_predict_scale: True
    action_dim: ${action_dim}
    cond_dim: ${eval:'${embedding_dim} * ${cond_steps}'}
  horizon_steps: ${horizon_steps}
  obs_dim: ${embedding_dim}
  action_dim: ${action_dim}
  denoising_steps: ${denoising_steps}
  device: ${device}

ema:
  decay: 0.995
